@page "/fantasy"
<!-- page to filter books by genre -->

<h1 class="page-title">All Books</h1>
<div class="dropdown">
    <button class="dropbtn">Order</button>
    <div class="dropdown-content">
                                                <!--Disabling href-->
        <a href="" @onclick="OrderByTitleAscending" @onclick:preventDefault>Name(ascending)</a>
        <a href="" @onclick="OrderByTitleDescending" @onclick:preventDefault>Name(descending)</a>
        <a href="" @onclick="OrderByAgeAscending" @onclick:preventDefault>Age(ascending)</a>
        <a href="" @onclick="OrderByAgeDescending" @onclick:preventDefault>Age(descending)</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Release date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{

            //foreach to display the books using the queries in CategoryFantasy.cs file
            foreach (var book in Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.SmallDescription</td>
                    <td>@book.ReleaseDate</td>
                    <td>
                        <a href="@($"book/{book.Id}")" class="btn btn-primary table-btn">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


