@page "/"
@inject Statistics Statistic
<PageTitle>Gabriel's Library</PageTitle>

<h3 style="text-align:center">Hello, and Welcome to my library!</h3>
<div class="mySlides w3-display-container w3-center">
    <img src="images/books.jpg" style="width:70%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    </div>
</div>
<hr class="mx-auto"/>
<div class="mb-5 container">
    <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                    <h5 style="text-align:left" class="card-title">Books</h5>
                    <p style="text-align:left" class="card-text">Discover new reads, manage and update your book collection with ease, and browse by category on our user-friendly library website.<br> @*<br>Currently with @Statistic.TotalNumberBooks() Books*@</p>
                    <a href="books" class="link">
                        <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">SEE BOOKS</span>
                                <span class="link-title2 title">SEE BOOKS</span>
                            </div>
                        </span>
                        <div class="link-icon">
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                        </div>
                    </a>
            </div> 
        </div>
    </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 style="text-align:left" class="card-title">Romance</h5>
                    <p style="text-align:left" class="card-text">Indulge in tales of love, passion, and heartbreak with our captivating romance section, featuring a diverse range of books to suit every romantic taste.<br> @*<br>Currently with @Statistic.TotalNumberRomanceBooks() Books*@</p>
                    <a href="romance" class="link">
                        <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">SEE BOOKS</span>
                                <span class="link-title2 title">SEE BOOKS</span>
                            </div>
                        </span>
                        <div class="link-icon">
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 style="text-align:left" class="card-title">Fantasy</h5>
                    <p style="text-align:left" class="card-text">Escape into enchanting worlds of magic and mythical creatures with our captivating fantasy section, featuring a diverse range of books to ignite your imagination and transport you to other realms.<br> @*<br>Currently with @Statistic.TotalNumberFantasyBooks() Books*@</p>
                    <a href="fantasy" class="link">
                        <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">SEE BOOKS</span>
                                <span class="link-title2 title">SEE BOOKS</span>
                            </div>
                        </span>
                        <div class="link-icon">
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
  </div>
</div>



